In [1]:
import pandas as pd
import numpy as np
from math import log2

In [187]:
dataSet=pd.read_excel("/Users/karanbudhaair/Downloads/Home_Loan.xlsx", header=None)   
dataSet=dataSet[6:].reset_index(drop=True)

In [188]:
dataSet

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Borrower ID Number,Wide Area Location Code,% Minority in Local Area,Median Family Income in Local Area,Borrower Annual Income,Borrower Income Ratio,"First Time Buyer? (1=Yes, 2=No)",Age of Borrower,Borrower Debt to Income Ratio,Appraised Value of Home,Amount Borrowed,LTV Ratio,Length of Mortgage in Months,Mortgage Interest Rate
1,1,53,29.57,91700,123000,1.3413,2,< 25,10,385000,195000,50.65,360,2.75
2,2,6,90.76,83300,250000,3.0012,2,< 25,30,535000,505000,95,360,3.5
3,3,34,64.19,96500,64000,0.6632,2,< 25,43,375000,105000,28.55,180,2.5
4,4,51,34.58,124900,141000,1.1289,2,< 25,46,665000,345000,51.51,180,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,37,40.28,80100,275000,3.4332,2,> 74,20,755000,505000,90,360,2.62
497,497,8,14.48,100000,79000,0.79,2,> 74,20,425000,315000,73.85,360,3
498,498,17,10.96,69300,187000,2.6984,2,> 74,10,325000,145000,43.75,180,2.87
499,499,26,33.82,79700,109000,1.3676,2,> 74,20,525000,385000,73.46,360,3.62
500,500,34,22.55,96600,60000,0.6211,1,> 74,41,375000,305000,80,360,3.5

In [189]:
dataSet.columns=dataSet.iloc[0]

In [190]:
dataSet=dataSet[1:]
dataSet

,Borrower ID Number,Wide Area Location Code,% Minority in Local Area,Median Family Income in Local Area,Borrower Annual Income,Borrower Income Ratio,"First Time Buyer? (1=Yes, 2=No)",Age of Borrower,Borrower Debt to Income Ratio,Appraised Value of Home,Amount Borrowed,LTV Ratio,Length of Mortgage in Months,Mortgage Interest Rate
1,1,53,29.57,91700,123000,1.3413,2,< 25,10,385000,195000,50.65,360,2.75
2,2,6,90.76,83300,250000,3.0012,2,< 25,30,535000,505000,95,360,3.5
3,3,34,64.19,96500,64000,0.6632,2,< 25,43,375000,105000,28.55,180,2.5
4,4,51,34.58,124900,141000,1.1289,2,< 25,46,665000,345000,51.51,180,2.25
5,5,39,17.93,84600,109000,1.2884,1,< 25,30,405000,325000,80,180,2.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,37,40.28,80100,275000,3.4332,2,> 74,20,755000,505000,90,360,2.62
497,497,8,14.48,100000,79000,0.79,2,> 74,20,425000,315000,73.85,360,3
498,498,17,10.96,69300,187000,2.6984,2,> 74,10,325000,145000,43.75,180,2.87
499,499,26,33.82,79700,109000,1.3676,2,> 74,20,525000,385000,73.46,360,3.62
500,500,34,22.55,96600,60000,0.6211,1,> 74,41,375000,305000,80,360,3.5

In [191]:
dataSet.columns

Index(['Borrower ID Number', 'Wide Area Location Code',
       '% Minority in Local Area', 'Median Family Income in Local Area',
       'Borrower Annual Income', 'Borrower Income Ratio',
       'First Time Buyer? (1=Yes, 2=No)', 'Age of Borrower',
       'Borrower Debt to Income Ratio', 'Appraised Value of Home',
       'Amount Borrowed', 'LTV Ratio', 'Length of Mortgage in Months',
       'Mortgage Interest Rate'],
      dtype='object', name=0)

In [192]:
dataSet.isna().sum(axis=0)

0
Borrower ID Number                    0
Wide Area Location Code               0
% Minority in Local Area              0
Median Family Income in Local Area    0
Borrower Annual Income                0
Borrower Income Ratio                 0
First Time Buyer? (1=Yes, 2=No)       0
Age of Borrower                       0
Borrower Debt to Income Ratio         0
Appraised Value of Home               0
Amount Borrowed                       0
LTV Ratio                             0
Length of Mortgage in Months          0
Mortgage Interest Rate                0
dtype: int64

## Statistical Summary

In [193]:
dataSet.describe()

,Borrower ID Number,Wide Area Location Code,% Minority in Local Area,Median Family Income in Local Area,Borrower Annual Income,Borrower Income Ratio,"First Time Buyer? (1=Yes, 2=No)",Age of Borrower,Borrower Debt to Income Ratio,Appraised Value of Home,Amount Borrowed,LTV Ratio,Length of Mortgage in Months,Mortgage Interest Rate
count,500,500,500.00,500,500,500.0000,500,500,500,500,500,500,500,500.00
unique,500,47,469.00,168,211,486.0000,2,7,18,95,66,355,4,42.00
top,1,6,10.96,83300,82000,0.7764,2,35 to 44,20,265000,245000,80,360,2.87
freq,1,80,3.00,26,10,2.0000,444,139,122,18,25,59,387,54.00

In [194]:
dataSet["Wide Area Location Code"].value_counts(sort="Descending").head(n=10)

Wide Area Location Code
6     80
48    31
12    23
8     21
53    21
39    19
17    18
36    17
26    17
4     16
Name: count, dtype: int64

In [195]:
dataSet["% Minority in Local Area"].value_counts(sort="Descending").head(n=10)

% Minority in Local Area
10.96    3
15.38    2
2.55     2
4.96     2
5.74     2
23.51    2
25.29    2
31.34    2
25.68    2
81.58    2
Name: count, dtype: int64

In [196]:
columns=dataSet.columns
columns

Index(['Borrower ID Number', 'Wide Area Location Code',
       '% Minority in Local Area', 'Median Family Income in Local Area',
       'Borrower Annual Income', 'Borrower Income Ratio',
       'First Time Buyer? (1=Yes, 2=No)', 'Age of Borrower',
       'Borrower Debt to Income Ratio', 'Appraised Value of Home',
       'Amount Borrowed', 'LTV Ratio', 'Length of Mortgage in Months',
       'Mortgage Interest Rate'],
      dtype='object', name=0)

In [197]:
columns[[0,1,2,3,4,5,6,8,9,10,11,12,13]]

Index(['Borrower ID Number', 'Wide Area Location Code',
       '% Minority in Local Area', 'Median Family Income in Local Area',
       'Borrower Annual Income', 'Borrower Income Ratio',
       'First Time Buyer? (1=Yes, 2=No)', 'Borrower Debt to Income Ratio',
       'Appraised Value of Home', 'Amount Borrowed', 'LTV Ratio',
       'Length of Mortgage in Months', 'Mortgage Interest Rate'],
      dtype='object', name=0)

In [198]:
dataSet=pd.to_numeric(dataSet[~dataSet.columns.isin(["Age of Borrower"])])

ValueError: Item wrong length 14 instead of 500.

In [199]:
dataSet[~dataSet.columns.isin(["Age of Borrower"])]

ValueError: Item wrong length 14 instead of 500.

In [200]:
~dataSet.columns.isin(["Age of Borrower"])

array([ True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True])

In [209]:
newColumns=dataSet.columns[~dataSet.columns.isin(["Age of Borrower"])]
newColumns=type(list(newColumns))
newColumns

list

In [202]:
dataSet=pd.to_numeric(dataSet[~dataSet.columns.isin(["Age of Borrower"])], errors="coerce")

ValueError: Item wrong length 14 instead of 500.

TypeError: arg must be a list, tuple, 1-d array, or Series