In [1]:
import pandas as pd
import numpy as np
from math import log2

In [124]:
dataSet=pd.read_excel("/Users/karanbudhaair/Downloads/Home_Loan.xlsx", header=None)   
dataSet=dataSet[6:].reset_index(drop=True)

In [125]:
dataSet

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Borrower ID Number,Wide Area Location Code,% Minority in Local Area,Median Family Income in Local Area,Borrower Annual Income,Borrower Income Ratio,"First Time Buyer? (1=Yes, 2=No)",Age of Borrower,Borrower Debt to Income Ratio,Appraised Value of Home,Amount Borrowed,LTV Ratio,Length of Mortgage in Months,Mortgage Interest Rate
1,1,53,29.57,91700,123000,1.3413,2,< 25,10,385000,195000,50.65,360,2.75
2,2,6,90.76,83300,250000,3.0012,2,< 25,30,535000,505000,95,360,3.5
3,3,34,64.19,96500,64000,0.6632,2,< 25,43,375000,105000,28.55,180,2.5
4,4,51,34.58,124900,141000,1.1289,2,< 25,46,665000,345000,51.51,180,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,37,40.28,80100,275000,3.4332,2,> 74,20,755000,505000,90,360,2.62
497,497,8,14.48,100000,79000,0.79,2,> 74,20,425000,315000,73.85,360,3
498,498,17,10.96,69300,187000,2.6984,2,> 74,10,325000,145000,43.75,180,2.87
499,499,26,33.82,79700,109000,1.3676,2,> 74,20,525000,385000,73.46,360,3.62
500,500,34,22.55,96600,60000,0.6211,1,> 74,41,375000,305000,80,360,3.5

In [126]:
newColumns=dataSet.iloc[0]
newColumns

0                     Borrower ID Number
1                Wide Area Location Code
2               % Minority in Local Area
3     Median Family Income in Local Area
4                 Borrower Annual Income
5                  Borrower Income Ratio
6        First Time Buyer? (1=Yes, 2=No)
7                        Age of Borrower
8          Borrower Debt to Income Ratio
9                Appraised Value of Home
10                       Amount Borrowed
11                             LTV Ratio
12          Length of Mortgage in Months
13                Mortgage Interest Rate
Name: 0, dtype: object

In [127]:
dataSet.columns=newColumns

In [128]:
dataSet

,Borrower ID Number,Wide Area Location Code,% Minority in Local Area,Median Family Income in Local Area,Borrower Annual Income,Borrower Income Ratio,"First Time Buyer? (1=Yes, 2=No)",Age of Borrower,Borrower Debt to Income Ratio,Appraised Value of Home,Amount Borrowed,LTV Ratio,Length of Mortgage in Months,Mortgage Interest Rate
0,Borrower ID Number,Wide Area Location Code,% Minority in Local Area,Median Family Income in Local Area,Borrower Annual Income,Borrower Income Ratio,"First Time Buyer? (1=Yes, 2=No)",Age of Borrower,Borrower Debt to Income Ratio,Appraised Value of Home,Amount Borrowed,LTV Ratio,Length of Mortgage in Months,Mortgage Interest Rate
1,1,53,29.57,91700,123000,1.3413,2,< 25,10,385000,195000,50.65,360,2.75
2,2,6,90.76,83300,250000,3.0012,2,< 25,30,535000,505000,95,360,3.5
3,3,34,64.19,96500,64000,0.6632,2,< 25,43,375000,105000,28.55,180,2.5
4,4,51,34.58,124900,141000,1.1289,2,< 25,46,665000,345000,51.51,180,2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,37,40.28,80100,275000,3.4332,2,> 74,20,755000,505000,90,360,2.62
497,497,8,14.48,100000,79000,0.79,2,> 74,20,425000,315000,73.85,360,3
498,498,17,10.96,69300,187000,2.6984,2,> 74,10,325000,145000,43.75,180,2.87
499,499,26,33.82,79700,109000,1.3676,2,> 74,20,525000,385000,73.46,360,3.62
500,500,34,22.55,96600,60000,0.6211,1,> 74,41,375000,305000,80,360,3.5

In [110]:
dataSet=dataSet[1:]

In [111]:
dataSet

6,Borrower ID Number,Wide Area Location Code,% Minority in Local Area,Median Family Income in Local Area,Borrower Annual Income,Borrower Income Ratio,"First Time Buyer? (1=Yes, 2=No)",Age of Borrower,Borrower Debt to Income Ratio,Appraised Value of Home,Amount Borrowed,LTV Ratio,Length of Mortgage in Months,Mortgage Interest Rate
1,2,6,90.76,83300,250000,3.0012,2,< 25,30,535000,505000,95,360,3.5
2,3,34,64.19,96500,64000,0.6632,2,< 25,43,375000,105000,28.55,180,2.5
3,4,51,34.58,124900,141000,1.1289,2,< 25,46,665000,345000,51.51,180,2.25
4,5,39,17.93,84600,109000,1.2884,1,< 25,30,405000,325000,80,180,2.87
5,6,24,29.18,124900,255000,2.0416,2,< 25,20,905000,645000,71.44,360,2.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,37,40.28,80100,275000,3.4332,2,> 74,20,755000,505000,90,360,2.62
496,497,8,14.48,100000,79000,0.79,2,> 74,20,425000,315000,73.85,360,3
497,498,17,10.96,69300,187000,2.6984,2,> 74,10,325000,145000,43.75,180,2.87
498,499,26,33.82,79700,109000,1.3676,2,> 74,20,525000,385000,73.46,360,3.62
499,500,34,22.55,96600,60000,0.6211,1,> 74,41,375000,305000,80,360,3.5